<h1> The World's Knowledge</h1>

<p style = "color:red">This is the home page to Sharebook.com 
TO begin uploading files to share you can either sign in or create an account
</p>

<p>Hi,Im Chad! <img src="http://i224.photobucket.com/albums/dd115/mandatshot187/ecc3eee9-ddc1-4f44-b9e4-be8469d85ec0.jpg" border="0" /></a></p>

